<br>

<!-- <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %> -->

<p>Right now we are not accepting any sign ups. Users don't need to sign in to our website in order to redeem an offer. We have kept the system extremely simple and easy to use. Product owners can tell us about their offers via mail or through this typeform.
</p>
<p>If you're an admin, please log in through the link below.
</p>
<%= render "devise/shared/links" %>
