<p id="notice"><%= notice %></p>

<br>

  <% @deals.each do |deal| %>

  <div class="col">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= deal.product %></h4>
          <h6 class="card-subtitle text-muted"><%= deal.deal%></h6></div>
          <img src="<%= deal.image_url %>" width="338" height="280" alt="Card image">
        <div class="card-block">
          <p class="card-text"><%= deal.description %></p>
          <a href="<%= deal.cta %>" class="btn btn-success">Redeem offer</a>
          <%= link_to 'View more info.', deal %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
