<!DOCTYPE html>
<html>
  <head>
    <title>Deals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% Category.all.each do |category| %>
    <%=  link_to category.name, deals_path(category: category.name) %>
    <% end %>

    <%= yield %>
  </body>
</html>
